
Data/CLAWS/covidhate/code.zip
Data/CLAWS/covidhate/asonam21.tar.gz
Data/CLAWS/covidhate/user_followers.tar.gz
Data/CLAWS/covidhate/user_following.tar.gz
Data/CLAWS/covidhate/asonam_release_all_tweets.csv
Data/CLAWS/covidhate/annotated_tweets_w_text.csv
