
Data/CLAWS/covidhate/code.zip
Data/CLAWS/covidhate/asonam21.tar.gz
Data/CLAWS/covidhate/user_followers.tar.gz
Data/CLAWS/covidhate/user_following.tar.gz
Data/CLAWS/covidhate/asonam_release_all_tweets.csv
Data/CLAWS/covidhate/annotated_tweets_w_text.csv
Data/CLAWS/covidhate/asonam21/user_followers.tar.gz
Data/CLAWS/covidhate/asonam21/bert-8-3-5.tar.gz
Data/CLAWS/covidhate/asonam21/user_following.tar.gz
Data/CLAWS/covidhate/asonam21/._bert-8-3-5.tar.gz
Data/CLAWS/covidhate/asonam21/._user_followers.tar.gz
Data/CLAWS/covidhate/asonam21/._user_following.tar.gz
claws_work/bert-8-3-5/pytorch_model.bin
Data/CLAWS/covidhate/asonam21/._annotated_tweets_w_text.csv
Data/CLAWS/covidhate/asonam21/annotated_tweets_w_text.csv
Data/CLAWS/covidhate/asonam21/asonam_release_all_tweets.csv
Data/CLAWS/covidhate/asonam21/._asonam_release_all_tweets.csv
Data/INST/institutional_tweets_3year_dataset.csv
script/bert-8-3-5/config.json
claws_work/data/tweet.csv
claws_work/output/classified_tweet.csv
Data/CLAWS/covidhate/tweet.csv
Data/CLAWS/covidhate/tweet_all.csv
script/data/all_labeled_text.csv
script/bert-8-3-5/pytorch_model.bin
script/data/part_labeled_tweet.csv
Output/annotated_tweets_w_classification_2epochs.csv
Output/annotated_tweets_w_classification_3epochs.csv
Output/Saved_Models/2 epochs/bert/config.json
Output/Saved_Models/2 epochs/bert/pytorch_model.bin
Output/Saved_Models/2 epochs/none/config.json
Output/Saved_Models/2 epochs/none/pytorch_model.bin
Output/Saved_Models/2 epochs/roberta/config.json
Output/Saved_Models/2 epochs/roberta/pytorch_model.bin
Output/Saved_Models/2 epochs/training_stats_dict.pkl
Output/Saved_Models/3 epochs/bert/config.json
Output/Saved_Models/3 epochs/bert/pytorch_model.bin
Output/Saved_Models/3 epochs/none/config.json
Output/Saved_Models/3 epochs/none/pytorch_model.bin
Output/Saved_Models/3 epochs/roberta/config.json
Output/Saved_Models/3 epochs/roberta/pytorch_model.bin
Output/Saved_Models/3 epochs/training_stats_dict.pkl
